*{
    font-family: Helvetica ;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*So that no element passes the parent element */
}

body{
    background-color:#000 ;
    color: #fff;
}

a{
    text-decoration: none;
    color: #F7D354;
    
}

a:hover{
    color: #b8930c
}